<form action="/bookmarks" method="post" id="create_bookmark">
  <div>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
  </div>
  <div>
    <label for="url">URL: </label>
    <input type="url" name="url" id="url" required>
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
</form>